<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
    style="background-image: url(assets/images/bg-title-page-01.jpg);">
    <h2 class="tit6 t-center">
        View Meals
    </h2>
</section>


<!-- Main menu -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
        <div class="row">
            @for (x of meal; track $index) {
            <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        {{x?.type}}
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day1}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Monday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day2}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                               {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Tuesday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day3}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Wednesday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day4}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Thursday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day5}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Friday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                             {{x?.day6}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Saturday
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                {{x?.day7}}
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                {{x?.pricePerDay | currency:"INR"}}
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Sunday
                        </span>
                    </div>
                </div>

            </div>
            }

        </div>
    </div>
</section>
