<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
	style="background-image: url(assets/images/bg-title-page-01.jpg);">
	<h2 class="tit6 t-center">
		Manage Customers
	</h2>
</section>

<section class=" p-t-120 p-b-105">
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Contact</th>
					<th scope="col">Address</th>
					<th scope="col">Joined At</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					@for (x of customer; track $index) {
					<th scope="row">{{$index+1}}</th>
					<td>{{x.name}}</td>
					<td>{{x.email}}</td>
					<td>{{x.contact}}</td>
					<td>{{x.address}}</td>
					<td>{{x.joinedAt}}</td>
					<td>
						<button class="btn btn-danger mx-1">
							<i class="fa-solid fa-user-large-slash"></i>
						</button>
						<button class="btn btn-success mx-1">
							<i class="fa-solid fa-user-large"></i>
						</button>
					</td>
				}
				</tr>
			</tbody>
		</table>
	</div>
</section>