<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
	style="background-image: url(assets/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		View Pricing
	</h2>
</section>


<!-- Chef -->
<section class="section-chef bgwhite p-t-115 p-b-95">
    <div class="container t-center">
        <span class="tit2 t-center">
            Pricing Of Our  Meal
        </span>

        <h3 class="tit5 t-center m-b-50 m-t-5">
           
        </h3>

        <div class="row">
            @for (x of pricing; track $index) {
                <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
                    <!-- -Block5 -->
                    <div class="blo5 pos-relative p-t-60" style="height: 600px !important;">
                        <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                            <a href="#"><img src="assets/images/menu.jpg" alt="IGM-AVATAR"></a>
                        </div>

                        <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                            <a href="#" class="txt34 dis-block p-b-6">
                                {{x?.price | currency:'INR'}}
                            </a>

                            <span class="dis-block t-center txt35 p-b-25">
                                {{x?.duration}} Months , ({{x?.days}} Days)
                            </span>

                            <p class="t-center">
                                Breakfast Count : {{x?.breakfast}} <br>
                                Lunch Count : {{x?.lunch}} <br>
                                Dinner Count : {{x?.dinner}}
                                _____________________________________
                                {{x?.description}} 
                            </p>
                            @if(isLoggedIn){
                            <a [routerLink]="['/customer/add-booking',x?.id]" class="btn btn-dark form-control">Make Booking</a>
                            }
                            @else{
                                <a routerLink="/login" class="btn btn-dark form-control">Login to Book</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>