<header>
  <div class="wrap-menu-header gradient1 trans-0-4">
    <div class="container h-full">
      <div class="wrap_header trans-0-3">
        <!-- Menu -->
        <div class="wrap_menu p-l-100 p-l-0-xl">
          <nav class="menu">
            <ul class="main_menu">
              <li><a routerLink="/customer/home">Home</a></li>
              <li><a routerLink="/customer/about">About</a></li>
              <li><a routerLink="/customer/view-meals">View-Meals</a></li>
              <li><a routerLink="/customer/view-pricings">View-Pricing</a></li>
              @if (isLoggedIn) {
                <li><a routerLink="/customer/custom-booking">Custom</a></li>
                <li><a routerLink="/customer/view-my-bookings">Bookings</a></li>
                <li>
                  <a routerLink="/customer/update-profile">Update-Profile</a>
                </li>
                <li>
                  <a
                    (click)="logout()"
                    class="text-white"
                    style="cursor: pointer"
                  >
                    Logout
                  </a>
                </li>
              } @else {
                <li><a routerLink="/customer/register">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
              }
            </ul>
          </nav>
        </div>
        <!-- Mobile Menu Icon -->
        <div class="mobile-menu-btn" (click)="toggleSidebar()">☰</div>
      </div>
    </div>
  </div>
</header>
<!-- Sidebar -->
<aside class="sidebar trans-0-4" [class.show-sidebar]="isSidebarOpen">
  <button
    class="btn-hide-sidebar ti-close color0-hov trans-0-4"
    (click)="toggleSidebar()"
  ></button>
  <ul class="menu-sidebar p-t-95 p-b-70">
    <li class="t-center m-b-13">
      <a
        routerLink="/customer/home"
        (click)="closeSidebar()"
        class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
      >
        Home</a
      >
    </li>
    <li class="t-center m-b-13">
      <a
        routerLink="/customer/about"
        (click)="closeSidebar()"
        class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
      >
        About</a
      >
    </li>
    <li class="t-center m-b-13">
      <a
        routerLink="/customer/view-meals"
        (click)="closeSidebar()"
        class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
      >
        View-Meals</a
      >
    </li>
    <li class="t-center m-b-13">
      <a
        routerLink="/customer/view-pricings"
        (click)="closeSidebar()"
        class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
      >
        View-Pricing
      </a>
    </li>

    @if (isLoggedIn) {
      <li>
        <a
          routerLink="/customer/custom-booking"
          (click)="closeSidebar()"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
          >Custom</a
        >
      </li>

      <li class="t-center m-b-13">
        <a
          routerLink="/customer/view-my-bookings"
          (click)="closeSidebar()"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
          >Bookings</a
        >
      </li>
      <li class="t-center m-b-13">
        <a
          routerLink="/customer/update-profile"
          (click)="closeSidebar()"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
          >Update-Profile</a
        >
      </li>
      <li class="t-center m-b-33">
        <a
          (click)="logout()"
          style="cursor: pointer"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto text-white"
        >
          Logout
        </a>
      </li>
    } @else {
      <li class="t-center m-b-13">
        <a
          routerLink="/customer/register"
          (click)="closeSidebar()"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
          >Register</a
        >
      </li>
      <li class="t-center m-b-33">
        <a
          routerLink="/login"
          (click)="closeSidebar()"
          class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto"
          >Login</a
        >
      </li>
    }
  </ul>
</aside>
